.contact-links-group {
  margin-top: 20px;
}

.contact-links-title {
  font-size: 13px;
  padding: 3px 0;
}

.contact-links-content {
  font-size: 17px;
}

@media print {
  a {
    text-decoration: none !important;
  }
}
