<div class="d-flex flex-row align-items-center home-page">
  <div class="col-sm-7" style="padding-left: 8%;">
    <h1>Piotr Jasiejko</h1>
    <h2>Full stack web developer</h2>
    <p class="mt-4">Javascript (ES5, ES6+), TypeScript, Angular, Saas, CSS3, HTML5, Bootstrap, jQuery, Webpack</p>
    <p class="mb-4">Java 8+, Spring, Spring boot, JPA, Hibernate, Gradle, Git, Jenkins, Docker</p>
    <button (click)="redirectToResume()" class="btn btn-outline-primary my-resume-home" type="button">My resume</button>
  </div>
  <img alt="my picture" class="col-5 d-none d-sm-inline" src="../../../assets/images/head-left.png">
</div>
